[user]
  name = Damien Radtke
  email = git@damienradtke.com
[color]
  ui = auto
[alias]
  cm = commit -m
  ci = commit -v
  co = checkout
  st = status
  ch = cherry -v origin
  br = branch
  aa = add --all --verbose .
  g = grep -I
  addall = add -A .
  hist = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %s %C(green)(%cr) %C(blue)<%an>%C(magenta)%d%C(reset)'
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  current = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  cur = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  ls = ls-files
  pr = pull --rebase
  own = !git config --unset user.name && git config --unset user.email

  # show difference between the HEAD and the index
  staged = diff --cached
  dc = diff --cached
  ds = diff --staged

  # show difference between working tree and the index
  unstaged = diff
[alias "push"]
  please = push --force-with-lease
[push]
  default = current
[rebase]
  autosquash = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
[grep]
  lineNumber = true
